@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 180, 2);
    font-family: 'Poppins', sans-serif;
    align-items: center;
   
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    margin: 0;
}

h1{
    font-weight: normal;
    color: black;
    font-size: 4rem;
    margin-top: 15rem;
}

.countdown-container{
    display: flex;
    color: black;
    font-size: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 1.4rem;
}